html{
    height: 100%;
}
body{

    background-image: linear-gradient(45deg, #20242b 0%, #8895ac 100%);
    background-attachment:fixed;
    height:100%;


}
p{
    font-family: 'Franklin Gothic Medium';
    font-size: 16px;
    color: rgb(255, 236, 185);
    text-align: left;
}
a{
    color: rgb(255, 236, 185);
}

.heading{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

}

.heading a{
    float :left;
    display: block;
    text-align: center;
    padding:14px 16px;
    font-size: 18px;
}
.heading a:hover {
    background-color: rgb(194, 191, 150);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
     width: 100%;
    text-align: center;
} 

.large {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.small {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

