@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Mirza&display=swap');
html{
    height: 100%;
}
h1 {
    color:rgb(255, 238, 190);
    text-align: center;
    text-shadow: 2px 2px 4px #2F2821;
    z-index: 1;
    font-size: 300%;
    font-family: 'Mirza', cursive;
}
body{

    /*background-image: linear-gradient(45deg, #20242b 0%, #8895ac 100%);*/
    background-image: linear-gradient(45deg, #8895ac 0%, #FFF 100%);
    background-attachment:fixed;
    height:100%;


}
p{
    font-family: 'Mirza', cursive;
    font-size: 16px;
    color: rgb(255, 236, 185);
    text-align: left;
}
a{
    color: rgb(255, 236, 185);
}

.heading{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: #8895ac;*/
    background-image: linear-gradient(45deg, #FFF 100%, #8895ac 0%);
    
    

}

.heading a{
    float :left;
    display: block;
    text-align: center;
    padding:14px 16px;
    font-size: 18px;
    z-index: 10;
}
.heading a:hover {
    background-color: rgb(194, 191, 150);
    color: #20242b;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
     width: 100%;
    text-align: center;
} 

.large {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.small {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

